.input{
    border: none;

}

.inputArea{
    resize: none;
    border-color: black;
    width: 500px;
    height: 650px;
    float: left;
    margin-left: 100px;
    background-color: #08f0ff;
    border-width: 2px;
}
.outputArea{
    border-color: black;
    width: 500px;
    height: 650px;
    float: right;
    margin-right: 100px;
    border-style:solid;
    border-width: 2px;
    background-color: #08f0ff;
}

.textAreas {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 10%;
    height: 600px;
    margin-top: 50px;
    
  }